/ComparatorPrefCostTime.class
/FilesClass.class
/OfferdableItem.class
/Preferency.class
/Promotion.class
/PromotionAbsolute.class
/PromotionFreeSights.class
/PromotionPercentual.class
/Sight.class
/User.class
